{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block metatitle %}LARAMARKET: Dược liệu nhập khẩu uy tín hàng đầu Việt Nam{% endblock metatitle %}</title>
    <meta name="description" content="Chuyên cung cấp dược liệu nhập khẩu uy tín hàng đầu tại Việt Nam, với cam kết chất lượng và giá ưu đãi. Sỉ và lẻ dược liệu với mức giá hợp lý, cùng ưu đãi đặc biệt cho các đơn đặt hàng số lượng lớn. Hơn 300 mặt hàng giá gốc đầu nguồn, giao hàng tận nơi. Đảm bảo giấy tờ CO, CQ, và hoá đơn đầy đủ. Khám phá ngay!">
    <meta property="og:title" content="LARAMARKET: Dược liệu nhập khẩu uy tín hàng đầu Việt Nam" />
    <meta property="og:description" content="Chuyên cung cấp dược liệu nhập khẩu uy tín hàng đầu tại Việt Nam, với cam kết chất lượng và giá ưu đãi. Sỉ và lẻ dược liệu với mức giá hợp lý, cùng ưu đãi đặc biệt cho các đơn đặt hàng số lượng lớn. Hơn 300 mặt hàng giá gốc đầu nguồn, giao hàng tận nơi. Đảm bảo giấy tờ CO, CQ, và hoá đơn đầy đủ. Khám phá ngay!" />
    <meta property="og:image" content="{% static 'icons/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Lightbox-->
    <link rel="stylesheet" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
    <!-- Range slider-->
    <link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.min.css' %}">
    <!-- Bootstrap select-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel2/assets/owl.theme.default.css' %}">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&display=swap" rel="stylesheet">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.gold.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page-holder">
      {% include 'navbar.html' %}

      {% block content %}

      {% endblock content %}

      {% block payment-gateway %}{% endblock payment-gateway %}

      {% include 'footer.html' %}
      {% include 'scripts.html' %}