
{% load i18n %} <!-- Thêm dòng này để load template tag i18n -->


<footer class="bg-dark text-white">
  <div class="container py-4">
    <div class="row py-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">{% trans "Customer services" %}</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="#">{% trans "Help & Contact Us" %}</a></li>
          <li><a class="footer-link" href="#">{% trans "Returns & Refunds" %}</a></li>
          <li><a class="footer-link" href="#">{% trans "Online Stores" %}</a></li>
          <li><a class="footer-link" href="#">{% trans "Terms & Conditions" %}</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">{% trans "Company" %}</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="#">{% trans "What We Do" %}</a></li>
          <li><a class="footer-link" href="#">{% trans "Available Services" %}</a></li>
          <li><a class="footer-link" href="#">{% trans "Latest Posts" %}</a></li>
          <li><a class="footer-link" href="#">{% trans "FAQs" %}</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-uppercase mb-3">{% trans "Social media" %}</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="https://www.facebook.com/profile.php?id=100095066961979">Facebook</a></li>
          {% comment %} <li><a class="footer-link" href="#">Instagram</a></li> {% endcomment %}
        </ul>
      </div>
    </div>
    <div class="border-top pt-4" style="border-color: #1d1d1d !important">
      <div class="row">
        <div class="col-lg-6">
          <p class="small text-muted mb-0">&copy; {% now "Y" %} {% trans "All rights reserved." %}</p>
        </div>
        <div class="col-lg-6 text-lg-right">
          <p class="small text-muted mb-0">{% trans "Website by" %} <a class="text-white reset-anchor" href="#" target="_blank">LaraMarket</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

