{% load static %}

<!-- JavaScript files-->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
      <script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
      <script src="{% static 'js/front.js' %}"></script>


      <script>
          //Hàm debounce
        function debounce(func, delay) {
          let timer;
          return function () {
            clearTimeout(timer);
            timer = setTimeout(func, delay);
          };
        }
        var range = document.getElementById('range');

        // tìm trong sessionStorage nếu có thì lấy không thì gán mặc định
        var filterMin = sessionStorage.getItem('filter_min') ? sessionStorage.getItem('filter_min') : 0;
        var filterMax = sessionStorage.getItem('filter_max') ? sessionStorage.getItem('filter_max') : 800;

        noUiSlider.create(range, {
            range: {
                'min': 0,
                'max': 1600
            },
            step: 5,
            start: [filterMin, filterMax],
            margin: 300,
            connect: true,
            direction: 'ltr',
            orientation: 'horizontal',
            behaviour: 'tap-drag',
            tooltips: true,
            format: {
              to: function ( value ) {
                return value ;
              },
              from: function ( value ) {
                return value.replace('', '');
              }
            }
        });
          // Function to update the data-title attribute of the select element
        function updateDataTitle(selectElement) {
          // Get the selected option
          var selectedOption = $(selectElement).find('option:selected').text();
          sessionStorage.setItem('selectedOption', selectedOption);
          // Set the data-title attribute of the select element
          $(selectElement).attr('data-title', selectedOption);
          // Send filter values to the server when submitting the form
          sendFilterValuesToServer();
          $("#sorting-form").submit();
        }

        // Xử lý sự kiện ấn nút lọc sẽ gửi POST đến server
        $("#filter-submit").on('click', function() {
          var sortingElement = $("sorting-select");
          updateDataTitle(sortingElement);
        })

        function checkAddress(e) {
          if($('input[name="address"]:checked'))
          alert(123)
          else {
            e.preventDefault()
            alert($('input[name="address"]:checked').length)
          }
        }

        // Function to set the slider values to the input element
        function setDataToInput(values) {
          $('input[name="filter-holder-min"]').val(values[0]);
          $('input[name="filter-holder-max"]').val(values[1]);
          sessionStorage.setItem("filter_min", values[0])
          sessionStorage.setItem("filter_max", values[1])
        }

        // Function to send filter values to the server
        function sendFilterValuesToServer() {
          var values = range.noUiSlider.get();
          setDataToInput(values);
          console.log($('input[name="filter-holder"]').val());
        }

        // Check if there is data in Local Storage
        document.addEventListener('DOMContentLoaded', function() {
          // Kiểm tra xem đã có dữ liệu trong Local Storage chưa
          var savedSelectedOption = sessionStorage.getItem('selectedOption');
          if (savedSelectedOption) {
            // Nếu có, cập nhật dữ liệu vào select
            console.log(savedSelectedOption)
            var selectElement = document.getElementById("sorting-select");
            selectElement.setAttribute('data-title', savedSelectedOption);
          }
        });
      </script>

      <script>

      </script>


      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

      </script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
  </body>
</html>